<!DOCTYPE html>
<meta charset="utf-8">
<style>

.counties {
  fill: none;
}

.states {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
}

.q0-9 { fill:rgb(247,251,255); }
.q1-9 { fill:rgb(222,235,247); }
.q2-9 { fill:rgb(198,219,239); }
.q3-9 { fill:rgb(158,202,225); }
.q4-9 { fill:rgb(107,174,214); }
.q5-9 { fill:rgb(66,146,198); }
.q6-9 { fill:rgb(33,113,181); }
.q7-9 { fill:rgb(8,81,156); }
.q8-9 { fill:rgb(8,48,107); }

</style>
<body>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="http://datamaps.github.io/scripts/0.4.4/datamaps.world.min.js"></script>

<div id="container" style="position: relative; width: 1600px; height: 700px;"></div>
<script>

var colors = 
    [ "#0000FF",
      "#0066FF",
      "#3399FF",
      "#66CCFF",
      "#CCFFFF",
      "#CCFFCC",
      "#FFFFCC",
      "#FFFF99",
      "#FFFF66",
      "#FFFF00",
      "#FFFF00"];
      var source = new EventSource('/stream');
      var hashSentence = {};
      var hashSentiment = {};

      source.onmessage = function (event) {
        var geoinfo = event.data.split("DELIMITER")[0];
        var sentence = event.data.split("DELIMITER")[1];
        var sentiment = event.data.split("DELIMITER")[2];
        
        //var point = [latitude, longitude];
        //console.log("NEW DATA IS HERE " + event.data);

        hashSentence[geoinfo]=sentence;
        hashSentiment[geoinfo]=sentiment;
        //hashURLInfo[county_id]=URLInfo;

      };

var projection, path;
     var map = new Datamap({
        element: document.getElementById('container'),
        scope: 'world',
        setProjection: function(element, options) {
            
            projection = d3.geo.mercator()
                .scale((element.offsetWidth + 1) / 2 / Math.PI)
                .translate([element.offsetWidth / 2, element.offsetHeight / 1.45 ]);

            path = d3.geo.path()
                .projection( projection );

            return {path: path, projection: projection};
        },
        fills: {
            "sentiment0":"#0000FF",
            "sentiment1":"#0066FF",
            "sentiment2":"#3399FF",
            "sentiment3":"#66CCFF",
            "sentiment4":"#CCFFFF",
            "sentiment5":"#CCFFCC",
            "sentiment6":"#FFFFCC",
            "sentiment7":"#FFFF99",
            "sentiment8":"#FFFF66",
            "sentiment9":"#FFFF00",
            "sentiment10":"#FFFF00",
            defaultFill: 'green'
        },

        data: {
        }

    });



var tweetlist = [];

var updateViz =  function(){

    for(key in hashSentiment)
    {

        console.log("REFRESH: " + key + ":" + hashSentiment[key]);
        var data = {}; 

        if(hashSentiment[key])
        {
          var latitude = parseFloat(key.split(",")[0]);
          var longitude = parseFloat(key.split(",")[1]);
          if (longitude && latitude){
          tweetlist.push({latitude: latitude, longitude: longitude, radius: 20, sentence: hashSentence[key], fillKey: 'sentiment' + Math.round(hashSentiment[key]*10).toString()});
          
          //data[key] = colors[Math.round(hashSentiment[key]*10)];
          //draw bubbles
          map.bubbles(tweetlist, {
            popupTemplate: function (geo, data){
              return ['<div class="hoverinfo">' + 'location:' + [data.latitude, data.longitude],
            '<br/>Sentence: ' +  data.sentence + '',
            '</div>']
            }
          });
          console.log("draw" + {name: hashSentence[key], latitude: latitude, longitude: longitude, radius: 20});
          }
        }
    }

    hashSentiment = {};
}

window.setInterval(updateViz, 5000);

</script>


</body>